*  {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0b0a4f;
    color: white;
}

.tabs {
    background-color: #072f85;
    height: 100px;
    width: 100%;
    margin-left: 0;
    position: fixed;
}

.doco {
    background-color: #096db5;
    height: 1000px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.line {
    background-color: black;
    height: 5px;
    width: 100%;
    margin-left: 0;
    position: fixed;
    top: 90px;
}

.logo {
    height: 80px;
    width: 80px;
    top: 5px;
    left: 10px;
    position: fixed;
}

.tabButton {
    position: fixed;
    left: 118px;
    top: -4px;
    font-size: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: transparent;
    border: none;
    color: white;
    text-decoration: underline;
    text-align: center;
    width: 300px;
}

.arrow {
    position: fixed;
    left: 242px;
    top: 45px;
    background-color: transparent;
    border: none;
}

.arrowImage {
    filter: invert(1);
    width: 50px;
    height: 50px;
}